
<div class="flex items-end">
  <div class="max-w-xl pr-5">
    <div class="relative mt-5 mb-0">
      <h2 class="font-light text-4xl -tracking-wider mt-0 mb-8 mx-0">
        <span class="text-[1.5em]">Arquitectura, Interiores y Estilismo</span>
      </h2>
      <h4 class="leading-7 text-base mt-0 mb-4 mx-0">
        <span class="opacity-60">Los espacios cuentan historias. Cada muro, cada material, cada detalle componen el diseño de los espacio. Mediante la fotografía busco capturar esa aura única que hace de un lugar algo más que paredes y techos. Es en la arquitectura y los interiores donde habitan sueños, memorias y posibilidades infinitas de vida. </span>
      </h4>
    </div>
  </div>
</div>
